main.login,
main.sign-up {
  width: clamp(22rem, 66%, 54rem);
  margin: 6rem auto 0;

  h1 {
    margin-bottom: 3rem;
  }

  & > div {
    padding: clamp(1.25rem, 5vw, 2.5rem) clamp(1rem, 5vw, 2.5rem);
    background-color: $bg1;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  a {
    align-self: flex-end;
  }
}
